.head-container {
    width: 100%;
    height: 100vh;
    background: var(--pr_gradient);
    padding: 20px ;

    .head-dust{
        height: 100%;
        width: 100%;
        position: absolute;
        
    }

    .head-bg{

        width: 100%;
        height: 100%;
        position: absolute;

        img{
            position: absolute;
            height: 100%;
            width: 100%;
        }

    }

}