.event-page-header{

    width: 100%;
    min-height: 300px;
    height: auto;
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.5))),var(--background-noise);
     background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),var(--background-noise);
    position: relative;
    overflow: hidden;

    .row{
        position: relative;
        z-index: 5 !important;
        height: auto;
    }
    .head-blur{
        position: absolute;
        width: 100%;
        min-height: 100%;
        height: auto;
        background-color: rgb(77, 20, 121);
    }


    
    
    
    .event-page-header-left{

        position: relative;
        height: 200px;

        img{
            width: 300px;
            height: 300px;
        }
    }
 
    .event-page-header-right{
        position: relative;
        min-height: 300px;
        height: auto !important;

        .event-info-box{
            width: 100%;
            min-height: 100%;
            height: auto !important;
            display: flex;
            justify-content: center; 
            align-items: flex-start;     
            flex-direction: column;      

            .event-desc{
                color: var(--color_grey);
                height: auto;
                text-overflow: ellipsis !important;
            }
            .event-time{
                color: white;
            }

        }

    }

}



.planet{
    position: absolute;
    opacity: 0.3;


}

.planet:nth-child(9){
    transform: scale(4);
    right: 5% ;
    top: 10% !important;
}
.planet:nth-child(7){
    transform: scale();
    left:  30% ;
    top: 70%;
}
.planet:nth-child(8){
    transform: scale(2);
    left: 10% ;
    // top: 95%;
}




@media (max-width : 1000px) {

.event-page-header{

    .event-page-header-left{
        
        display: none;
    }


    .event-page-header-right{
        padding: 5px 0px 5px 20px;
        .heading2{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.3rem;
            padding: 4px;
        }
    }
}

.events-page-list{

    .toolbar{
        padding: 15px 5px !important;
        height: 80px !important;
        svg{
            font-size: 2.5rem !important;
        }
    }
}

.planet:nth-child(9){
    transform: scale(2);
    right: 5% ;
    top: 10% !important;
}
.planet:nth-child(7){
    transform: scale(1);
    left:  30% ;
    top: 70%;
}
.planet:nth-child(8){
    transform: scale(2);
    left: 10% ;
    // top: 95%;
}


}























//  Events List section


.events-page-list{
    background: #121212;
    isolation: isolate;
    height: 100vh;
    width: 100%;
    position: relative;

    .event-list-blur{
        position: absolute;
        height: 200px;
        width: 100%;
        z-index: -1;
        background-color: rgb(77, 20, 121);
        background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(#121212)),var(--background-noise);
        background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%),var(--background-noise);
    }

    .toolbar{

        width: 100%;
        min-height: 140px;
        height: auto !important;
        background-color: transparent;
        padding: 35px 50px ;
        display: grid;
        position: relative;
        // align-items: center;
        transition-delay: 1s;
        .cord-head{
            font-weight: 650;
            font-size : 1.3rem;
            text-align: left;
            color: #7b4397 !important;
            
        }
        .cord{
            display: flex;
            flex-direction: row;
            // justify-content: center;
            flex-wrap: wrap;
            font-size : 1rem !important;
            min-height: 50px;
            height: auto;
            width: 100%;
            padding: 5px;

          
             & > div{
                // transform: scale(0.7) !important;
            }


            }
        .options{
            min-width: 300px;
            width: 30%;
            height: auto;
            div svg{
                margin : 0px 25px;
            }
            div a svg:nth-of-type(1){
                font-size: 3rem;
                color: red;
            }

            div svg:nth-of-type(1){
                font-size: 2.3rem;
                color: white;
            }

          
        }
        hr{
            background-color: white;
        }

    }

}







// Team List Styles


.team-list-container{


    width: 100% !important;
    height: auto;
    overflow-x: auto;

    .table{ 

        position: relative;
        min-width: 600px;   

        th{
        color: white;
        font-family: var(--sr_font);
        font-size: 1.2rem;
        font-weight: 400;
        min-width: 30px !important;
        text-overflow: ellipsis !important;

        }
       
        td{
            color: var(--color_grey);
        }

        tr{
            cursor: pointer;
          
        }
        
        tr:hover > td {
            color : var(--color_pink) !important;
        }
    }


    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }
    /* Track */
&::-webkit-scrollbar-track {
    background: var(--color_pink); 
  }
   
  /* Handle */
 &::-webkit-scrollbar-thumb {
    background: var(--color_purple); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

    

}