// @import "bourbon";
// @import "neat";

$base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #1abc9c;
$color-3: #2ecc71;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

// *, *:before, *:after {
// 	box-sizing: border-box;
// 	outline: none;
// }


.card-block {

	min-height: 300px;
	min-width: 300px;
    height:340px ;
    width: 250px;
    margin: 10px 20px 10px 5px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
    transition: all 300ms ease-in-out;

    cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 244px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;

	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(61, 2, 35, 0.694);
	}

	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		img {
			transform: scale(1.25);
		}

		.card-info  {
			top: 45%;

		}
	}

	h1 {
		position: absolute;
		 
		padding: 0;
		color: white;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1;
		z-index: 10;
        text-transform: uppercase;
	}

	img {
		height: 100%;
		transition: 0.25s;
	}
	.card-info {
		position: absolute;
		top: 80%;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 10px;
		background-color: rgb(15, 5, 12);
		box-shadow: 0 0 20px rgba(black,1.4);
		color: white;
		line-height: 1;
		transition: 0.25s;
        height: 350px;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;

		svg{
			color: var(--color_pink);
			font-size: 3rem;
			margin: 10px;
		}
		h3 {
			margin: 0 0 20px;
			padding: 0;
		}

		p {
			font-size: 14px;
			line-height: 1.75;
		}

		button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0 0;
			padding: 10px 30px;
			background-color: $color-2;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 14px;

            a{
                color: white;
            }
		}
	}
}


@media (max-width : 700px) {
    
    .card-block{

    //    height: 350px !important;
    //    width: 500px !important;

    }

}