.event{
    width: 100%;
    background:var(--pr_bg);
    /* margin: auto; */
}

.event-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    overflow:hidden  !important;
    margin: auto;
}

.event-list-container{
    overflow:hidden  !important;
    width: 100%;
    height: auto;
    margin-bottom:25px ;
}

.event-list{
    display: flex;
    align-items: flex-start;
    width: 100% !important;
    overflow-x: scroll;

}

.event h1{
    text-align: center;
    color: var(--sc_color);
    font-family: var(--fest-font);
    font-size: 4rem;
}

.card{
    min-height:340px ;
    width: 250px;
    margin: 10px 30px 10px 5px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.card:hover{
    /* box-shadow: rgba(104, 104, 104, 0.25) 0px 6px 12px -2px, rgba(95, 95, 95, 0.3) 0px 3px 7px -3px; */
    /* box-shadow: rgba(102, 102, 102) 0px 3px 8px; */
transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 200px;
    margin: auto;
}

.card-text{
    white-space: nowrap; 
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis;
}