.event-card-new-container{

    height: 250px;
    background:linear-gradient(43.52deg, #1C0C39 50.09%, #984E8C 105.43%);
    border-radius: 20px;
    position: relative;
}


.planet{
    position: absolute;
    z-index: 1;
    opacity: 0.9;
     top: 0%;
    transform: scale(6);
    right: 20%;
}


.event-row-box{
    height: auto;
    width: 100vw;
}

.e-row, .e-row{
    z-index: 3;

    position: relative;
    display: grid;
    grid-template-columns: 10% 30% 10% 30%;
    grid-row-gap: 20px;
    

    .wire-box{
        display: flex;
        justify-content: center;

        .wire{
        height: 100%;
        width: 1px;
        background-color: rgba(233, 229, 229, 0.738);
    }
    
    }



    .e-card{
        
        // padding: 10px 0px;
    }

    &:nth-child(3) , &:nth-child(2){
    grid-template-columns: 25% 30% 5% 30%;

    }    
}


.e-separate{

    height: 50px;

    .e-card{
        
    }
    .e-s-col{
        height: 100%;
        position: relative;

    }
    .e-s-col:nth-child(1)::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: rgba(199, 110, 190, 0.667);
        left: 40%;
     
    }

    .e-s-col:nth-child(2)::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: rgba(199, 110, 190, 0.667);;
        left: 20%;
        

    }

}


.e-r-heading{

    height: 150px;
    width: 100%;
    // background-color: rebeccapurple;

    h3{
        margin-left: 200px;
    }
}