.event-page{
    background: #7b4397;  
background: -webkit-linear-gradient(to bottom, #dc2430, #7b4397); 
background: linear-gradient(to bottom, #dc2430, #7b4397);
}

.event-info{
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding: 20px;
 width: 80%;
 margin: auto;
 
}

.left-info{
    width: 30%;
}

.left-info img{
    width: 200px;
    height: 200px;
}

.right-info{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.right-info p {
    font-size: 1.1rem;
}

.status{
    display: inline-block;
    border:1px solid black;
    border-radius: 20px;
    padding: 2px;
    font-weight: bold;
    color: green;
    text-align: center;
    width: 100px;
    
}