.event-page{
    background: #7b4397;  
    background: -webkit-linear-gradient(to bottom, #dc2430, #7b4397); 
    background: linear-gradient(to bottom, #dc2430, #7b4397);
    /* height: 60vh; */
    backdrop-filter: blur(20px);
    color: white;
    /* width: 100vw !important; */
}

.event-info{
 width: 80%;
 margin: auto;
 display: flex;
 justify-content: space-between;
 padding: 20px;
 
}

.left-info{
    width: 30%;
}

.left-info img{
    width: 200px;
    height: 200px;
}

.right-info{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.right-info p {
    font-size: 1.1rem;
}

.status{
    display: grid;
    place-items: center;
    border:2px solid black;
    border-radius: 20px;
    padding: 2px;
    font-weight: bold;
    color: green;
    width: 100px;
    text-transform:uppercase;
    
}


.con-info{
    backdrop-filter: blur(20px);
    color: black;
    background-color: #ffffff63;;
    /* width: 100vw; */
    margin-top: 40px;
    padding: 20px 0;

}

.con-list{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.con-item{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    border: 2px solid;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.team-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.view-team{
    /* border: 2px solid; */
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color:#4d4d4d
}

.view-team :hover{
    transition: all 300ms ease-in-out;
}

.team-member{
    display: block;
    margin-top: 20px;
    transition: all 300ms 
}


.avtar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.card{
    width: 90%;
}