.planet{

    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 1 !important;
    position: relative;
    background: linear-gradient(76.89deg, rgba(10, 3, 55, 0.93) 33.77%, rgba(83, 3, 43, 0.93) 73.71%);
}