.ripple-box{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:transparent;
    transform: scale(2);
    border: 4px solid rgba(127, 24, 105, 0.694);
    position: relative;
    display: grid;
    place-items: center;
    &::before, &::after{
        
        content:'' ;
        position: absolute;
    background-color:transparent;
    border-radius: 50%;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transform: scale(0.8);
        border : 2px solid rgba(131, 9, 196, 0.718);

    }

    &::after{
        transform: scale(0);
        border : 1px solid rgba(72, 242, 236, 0.398);
        animation: ripple-wave 2s ease-in infinite;
    }



    @keyframes ripple-wave {

        100%{
            transform: scale(1.3);
        }
        
    }

    
}

.ripple-box .image{
    width: 100px;
    height: 100px;
    background-color: red !important;
    border-radius: 50%;
    z-index: 4;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display:none;
}