.wrapper {
    background-color: transparent;
    width: 100%;
    font: normal 16px/26px Open Sans Condensed, sans-serif;
    color: #fff;
    box-sizing: border-box;
    // min-width: 500px !important;
    display: grid;
    align-items: center;
    overflow: hidden;
  z-index: 4;
  position: relative;
  height: 100vh !important;
  }
  
  .block {
    z-index: 1;
    position: relative;
    background-color: transparent;
    margin-top : 500px;
    
    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #f2f2f2;
      margin-top: 90px;
      left: 0px;
    }

      .each-year{
        display: flex;
        flex-direction: row;
        width: 100%;
      }
  }
  
 
  
  .each-event {
    background-color: transparent;
    color: #777;
    padding: 15px;
     width: 20%;
    position: relative !important;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    height: 200px;
    display: grid !important;
    place-items: center;

    &::after{
      content: '';
      display: absolute;
      width: 0px;
      height: 0px;
      background-color: rgba(255, 255, 255, 0.504);
    transition: all 1s ease-in-out;
        transform: translateY(-200px);


    }

    &:nth-child(3){

      &::after{
        content: '';
        width: 1px;
        height: 180px;
        background-color: rgba(255, 255, 255, 0.504);
        transform: translateY(-100px);

      }
      .ripple-box{

        transform: translateY(-360px) scale(2.4);

      } 

      .image{
        display:block;

        }
      
    } 

    &:hover {
      &::after{
        content: '';
        display: absolute;
        width: 1px;
        height: 180px;
        background-color: rgba(255, 255, 255, 0.504);
        transform: translateY(-100px);

      }
      .ripple-box{

        transform:  translateY(-360px) scale(2.4) ;

        .image{
        display:block;

        }
      } 
      
    }

    &:hover ~ div:nth-of-type(3) {
      
      &::after{
        content: '';
        display: absolute;
        width: 1px;
        height: 0px;
        background-color: rgba(255, 255, 255, 0.504);
        transform: translateY(-200px);

      }
      .ripple-box{

        transform:  translateY(-2px) scale(1);
        .image{
          display:none;
  
          }
      } 
      
    }

    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 15px);
      // left: -27px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
    }


 
    .ripple-box{
      position: absolute;
      transform:  translateY(-2px) scale(0.6);
     transition: all 1s ease-in-out;

    }

    &:nth-child(odd) {
      // margin-top: -100px;

      &:before {
        // top : 180px;
      }
    }
    &:nth-child(even) {
      // margin-top: calc(20% );
      
      &:before {
        // top : -210px;
      }
    }
  }
  
  .title.non-focus {
    font-size: 24px;
    line-height: 34px;
    transition: all 0.8s ease-in-out;
  }
  
  

  @media (max-width : 800px) {
    
    .block{
      margin-top: 0px;
    }

.wrapper {

  height: 700px !important;

  .ripple-box{
    transform: translateY(-10px) scale(0.3);

  }


   
  .each-event {


    &:before {
      content: "";
      width: 10px;
      height: 10px;
    }

   
    &::after{
      


    }

    &:nth-child(3){

      &::after{
        transform: translateY(-60px);
        height: 100px;


      }
      .ripple-box{
        transform: scale(1) translateY(-180px);;

      } 
      
    } 

    &:hover {
      &::after{
         
        transform: translateY(-60px);
        height: 100px;
      }
      .ripple-box{
        transform: scale(1) translateY(-180px);;

        
      } 
      
    }

    &:hover ~ div:nth-of-type(3) {
      
      &::after{
 
      }
      .ripple-box{
        transform: translateY(-10px) scale(0.3);
      } 
      
    }

   

 
   
 
    }

}
  }