
.nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;

    
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    color: white;
    width: 70%;
    margin: auto;
    background-color: transparent;


    .hamburger{
        display: none;
        font-size: 1.5rem;
    }
    

    .nav-left{
        flex: 1;
        display: flex;
        align-items: center;
        
        h3{
            margin: 0;
            
        }
    }

    .nav-right{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        ul{
            padding: 0;
            margin: 0;
        }

        .hamburger{
            font-weight: bold;
            display: none;
            font-size: 2rem;

        }
        .nav-items{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .nav-item{
                margin: 0 10px;
                transition: all 300ms ease-in-out;
                cursor: pointer;
                font-weight: bold;
                font-size: 1.1rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            :hover{
                color:rgb(255, 0, 89);
                transform:  translateY(4px);
            }
        }
    }

    @media screen and (max-width: 1050px) {
        .nav-right{
            display: none;

        }

        .mobile-nav-right{
            display: block;
            position: absolute;
            top: 60px;
            left: -45px;
            background: #0f1e33;
            width: 100%;

            .mobile-nav-items{
                display: block;
                flex-direction: column;
                width: 100%;
            }
        }
    
        .hamburger{
            display: block;
        }
    }
}
}


.is-active{
    color:rgb(255, 0, 89);
    transform:  translateY(4px);
}

.nav-link{
    color: white;
}





// .nav-right


