.memories-box{
    width: 100%;
    min-height: 100vh;
    height: auto;
    text-align: center;
    color: white;
    margin-top: 100px;
    position: relative;

    .planet{
        position: absolute;
        left: 10%;
        top: 30%;
        transform: scale(6);
        opacity: 0.4;
    }
    h2{
    font-size: 4rem;

    }
    .memories-gradient{

    }
}


@media (max-width : 800px) {
        .memories-box{

            max-height: 200px !important;

            .planet{
                transform: scale(3);
            }
        }
}
