.contact{
    margin-top: 100px !important;
    width: 100%;
    margin: auto;
    
    h2{
        font-size: 4rem;
        text-align: center;
        margin: 30px 0;
    }

    .profiles{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}




// Corordinator Profile 

.coordinator-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    // height: 200px;
    color: #fff;
    margin: 10px;

    img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: pink;
    }

    .profile-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name{
            font-weight: bold;
            color:var(--color_pink);
        }

        p{
            font-size: 0.8rem;
            margin: 0px;
        }
    }

}

@media (max-width : 900px) {
    .coordinator-profile{
        width: 150px;

        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}
