.event-card-new-container{

    height: 200px;
    background: #130934;
    border-radius: 10px;
    position: relative;
}


.planet{
    position: absolute;
    z-index: 1;
    opacity: 0.9;
     top: 0%;
    transform: scale(6);
    right: 20%;
}


.event-row-box{
    height: auto;
    width: 100vw;
}

.e-row, .e-row{
    z-index: 3;

    position: relative;
    display: grid;
    grid-template-columns: 10% 30% 10% 30%;
    grid-row-gap: 20px;
    

    .wire-box{
        display: flex;
        justify-content: center;

        .wire{
        height: 100%;
        width: 1px;
        background-color: rgba(248, 242, 242, 0.537);
    }
    
    }



    .e-card{
        
        // padding: 10px 0px;
    }

    &:nth-child(3) , &:nth-child(2){
    grid-template-columns: 25% 30% 5% 30%;

    }    
}


.e-separate{

    height: 50px;

    .e-card{
        
    }
    .e-s-col{
        height: 100%;
        position: relative;

    }
    .e-s-col:nth-child(1)::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: rgba(199, 110, 190, 0.667);
        left: 40%;
     
    }

    .e-s-col:nth-child(2)::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: rgba(199, 110, 190, 0.667);;
        left: 20%;
        

    }

}


.e-r-heading{

    height: 150px;
    width: 100%;
    // background-color: rebeccapurple;

    h3{
        margin-left: 200px;
    }
}


.event-card-new-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    // box-shadow: ;
    box-shadow: 3px 2px 10px #1b0e30f6;
    .event-card-left{
        width: 40%;


        img{
            width: 150px;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .event-card-right{
        width: 40%;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-between;
        // align-items: center;

        .card-right-info{

            h3{
                font-size: 2rem;
            }
        }

        

        }
}


.event-card-right button{
    border: none;
    padding: 5px 10px;
    background:#fff;
    color: #1C0C39;
    border-radius: 10px;
    font-weight: bold;
    transition: all 300ms ease-in-out;

}
.event-card-right button:hover{
    background: #1C0C39;
    color:#fff;
}


