

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;


  --pr_bg:#012A4A;
  --sc_bg:#F2E9E4;
  --pr_color: #000;
  --sc_color: #fff;
  --color_purple:#4D194D;
  --color_sky:#89C2D9;
  --color_silver:#C9ADA7;
  --color_gray:#4A4E69;


  --pr_font : 'Rock 3D', cursive;
  /* --pr_font : 'Ananda','Namaste',Regular */
  /* --se_font :  'BIZ UDMincho', serif; */
  --se_font :  'Cabin', sans-serif;
  /* --se_font :  'Baloo 2', cursive; */
  /* --se_font :  'Fredoka One', cursive; */
  --tr_font : 'Rubik Moonrocks', cursive;
  
  --pr2_font:'Lora', serif;
  --fest-font:'Righteous', cursive;

}

.m-container{
  width: 80%;
}

.heading1{
  font-size: 4rem;
  color: var(--sc_color);
  font-family: var(--fest-font);
}

.heading2{
  font-size: 3rem;
  color: var(--sc_color);
  font-family: var(--fest-font);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}



/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}