
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;


  --pr_bg:#012A4A;
  --sc_bg:#010015;
  --tr_bg : #121212;
  --pr_color: #000;
  --sc_color: #fff;
  --color_purple:#4D194D;
  --color_sky:#89C2D9;
  --color_silver:#C9ADA7;
  --color_gray:#4A4E69;
  --color_pink : #ed196b;
  --color_grey : #9ba0ab;

  --pr_font : 'Rock 3D', cursive;
  /* --pr_font : 'Ananda','Namaste',Regular */
  /* --se_font :  'BIZ UDMincho', serif; */
  --se_font :  'Cabin', sans-serif;
  /* --se_font :  'Baloo 2', cursive; */
  /* --se_font :  'Fredoka One', cursive; */
  --tr_font : 'Rubik Moonrocks', cursive;
  
  --pr2_font:'Lora', serif;
  --fest-font:'Righteous', cursive;


/* Gradients */
--pr_gradient :  linear-gradient(180deg, rgba(1, 42, 74, 0.93) 38.14%, #000000 93.87%);
--sc_gradient:linear-gradient(76.89deg, rgba(10, 3, 55, 0.93) 33.77%, rgba(83, 3, 43, 0.93) 73.71%);

--background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=);
}

a{
  text-decoration: none;
}

.m-container{
  width: 80%;
  margin: auto;
}

.heading1{
  font-size: 4rem !important;
  color: var(--sc_color) !important;
  font-family: var(--fest-font) !important;
}

.heading2{
  font-size: 3rem;
  color: var(--sc_color);
  font-family: var(--fest-font);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


.heading{
  font-family: var(--fest-font);
  color: white;
  font-size: 3rem;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



















/*  Event Page  */

.eventHead{
  font-size: 4rem;
  font-family: var(--pr_font);

}

.eventDesc{
  font-size: 2rem;
  font-family: var(--sr_font);
  font-weight: semibold;
}

.eventTime{
  font-size: 1.5rem;
  font-family: var(--sr_font);

}



@media (max-width : 700px) {

    .heading1{
      font-size: 3rem !important;
    }
}